.score {
    display:flex;
    justify-content: space-between;
    background-color: #e7e7e7;
    margin-top:15px;
}
.item{
    margin:10px;
    display: flex;
    align-items: baseline;
}
#showMoreButton{
    width:100%;
}


